<main class="d-flex flex-nowrap ">

    <div class="flex-shrink-0 p-3 bg-white">
        <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
            <svg class="bi pe-none me-2" width="30" height="24">
                <use xlink:href="#bootstrap" />
            </svg>
            <span class="fs-5 fw-semibold">
                <img width="25%"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png"
                    alt="">
                <img src="https://leafletjs.com/docs/images/logo.png" width="70%" alt="">
            </span>
        </a>
        <ul class="list-unstyled ps-0 pb-2">
            <li class="mb-1" *ngFor="let item of list_menu; let i=index">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                    data-bs-toggle="collapse" attr.data-bs-target="#collapse_{{i}}" aria-expanded="true">
                    {{item.group_name}}
                </button>
                <div class="collapse show" id="collapse_{{i}}">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li *ngFor="let items of item.li; let i=index">
                            <a href="javascript:void(0)" (click)="set_menu(items)"
                                [ngClass]="{'link-primary': get_menu == items.link  ,  'link-dark': get_menu != items.link }"
                                class=" d-inline-flex text-decoration-none rounded" [routerLink]="[items.link]"
                                routerLinkActive="router-link-active">{{items.name_menu}}</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <div class="footer">
            <app-footer></app-footer>
        </div>
    </div>

</main>