<main class="d-flex flex-nowrap ">

    <div class="flex-shrink-0 p-3 bg-white">
        <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
            <svg class="bi pe-none me-2" width="30" height="24">
                <use xlink:href="#bootstrap" />
            </svg>
            <span class="fs-5 fw-semibold">
                <img width="25%"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png"
                    alt="">
                <img src="https://leafletjs.com/docs/images/logo.png" width="70%" alt="">
            </span>
        </a>
        <ul class="list-unstyled ps-0 pb-2">
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                    data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                    Overview
                </button>
                <div class="collapse show" id="home-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="javascript:void(0)" class="link-dark d-inline-flex text-decoration-none rounded"
                                [routerLink]="['/index']" routerLinkActive="router-link-active">Get started</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                    data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="true">
                    Map
                </button>
                <div class="collapse show" id="dashboard-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="javascript:void(0)" [routerLink]="['/tutorials/start-guide']"
                                routerLinkActive="router-link-active"
                                class="link-dark d-inline-flex text-decoration-none rounded">Quick Start Guide</a></li>
                        <li><a href="javascript:void(0)" class="link-primary d-inline-flex text-decoration-none rounded"
                                [routerLink]="['/tutorials/layer-group']" routerLinkActive="router-link-active">Layer
                                Group</a>
                        </li>
                        <li><a href="javascript:void(0)" class="link-dark d-inline-flex text-decoration-none rounded"
                                [routerLink]="['/tutorials/layer-basemap']"
                                routerLinkActive="router-link-active">Basemap</a></li>
                        <li><a href="javascript:void(0)"
                                class="link-dark d-inline-flex text-decoration-none rounded">Geojson</a></li>
                        <li><a href="javascript:void(0)"
                                class="link-dark d-inline-flex text-decoration-none rounded">Control</a></li>
                    </ul>
                </div>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                    data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="true">
                    Vector Layer
                </button>
                <div class="collapse show " id="orders-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="javascript:void(0)"
                                class="link-dark d-inline-flex text-decoration-none rounded">Marker</a></li>
                        <li><a href="javascript:void(0)"
                                class="link-dark d-inline-flex text-decoration-none rounded">Circle</a></li>
                        <li><a href="javascript:void(0)"
                                class="link-dark d-inline-flex text-decoration-none rounded">Line</a></li>
                        <li><a href="javascript:void(0)"
                                class="link-dark d-inline-flex text-decoration-none rounded">Polygon</a></li>
                        <li><a href="javascript:void(0)"
                                class="link-dark d-inline-flex text-decoration-none rounded">Rectangle</a></li>
                    </ul>
                </div>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                    data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="true">
                    UI Layer
                </button>
                <div class="collapse show " id="account-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="javascript:void(0)"
                                class="link-dark d-inline-flex text-decoration-none rounded">Popup</a></li>
                        <li><a href="javascript:void(0)"
                                class="link-dark d-inline-flex text-decoration-none rounded">Tooltip</a></li>
                        <li><a href="javascript:void(0)"
                                class="link-dark d-inline-flex text-decoration-none rounded">Label</a></li>
                    </ul>
                </div>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                    data-bs-toggle="collapse" data-bs-target="#Template" aria-expanded="true">
                    Template
                </button>
                <div class="collapse  show" id="Template">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="javascript:void(0)"
                                class="link-dark d-inline-flex text-decoration-none rounded">Choroplate Map</a></li>
                    </ul>
                </div>
            </li>
        </ul>
        <div class="footer">
            <app-footer></app-footer>
        </div>
    </div>

</main>