/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');


html,
body {
    font-family: 'Prompt', sans-serif;
    height: 100%;
}


.row {
    --bs-gutter-x: 0rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.info {
    font-family: 'Prompt', sans-serif;
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.info h4 {
    font-family: 'Prompt', sans-serif;
    margin: 0 0 5px;
    color: #777;
}

.legend {
    font-family: 'Prompt', sans-serif;
    line-height: 18px;
    color: #555;
}

.legend i {
    font-family: 'Prompt', sans-serif;
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.h5,
h5 {
    font-family: 'Prompt', sans-serif;
}

.small,
small {
    font-family: 'Prompt', sans-serif;
}

.Prompt {
    font-family: 'Prompt', sans-serif;
}